<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>weChat</title>
 <link rel="stylesheet" href="style.css">
</head>

<body>
 <h3>All Chats!</h3>
 <form method="get" action="/chats/new">
  <button>New Chat</button>
 </form>
 <hr>
 <% for(chat of chats){%>
  <div class="chat">
   <p>From : <i><%= chat.from %></i>
   </p>
   <div class="msg">
    <p>
     <%= chat.message %>
    </p>
    <form method="get" action="/chats/<%= chat.id %>/edit">
      <button class="edit">Edit</button>
    </form>

    <form method="post" action="/chats/<%= chat.id %>/?_method=DELETE">
      <button class="edit">Delete</button>
    </form>
   </div>
   <p>Received by : <i><%= chat.to %></i>
   </p>
   <hr>
   <p><%= chat.created_at.toString().split(" ")[4] %></p>
   <p><%= chat.created_at.toString().split(" ").slice(0,4).join("-") %></p>
   
   <p>
    <% if (chat.updated_at != undefined) { %><hr>
    <%= chat.updated_at.toString().split(" ")[4] %>
   <% } %></p>
   <p><% if (chat.updated_at != undefined) { %>
    <p><%= chat.updated_at.toString().split(" ").slice(0,4).join("-") %></p>
   <% } %></p>

  </div>
  <br><br>
  <!-- <hr> -->
  <% } %>
</body>

</html>
